/* .background {
    
    background-image: url('');
    height: 400px;
    width: 100%;
} */
*{
    margin: 0;    
}


.background {
    height: 500px;
    width: 100%;
    
}

.background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}                        
.infor{
    color: #fff;
    padding-top: 5%;
}
b{
    font-size: 20px;
}
a{
    color: red;
}

.person{
    background: #333;
    box-shadow: 0px 0px 6px #000;
}

.person img{
    border-radius:50px;
    box-shadow: 0px 0px 6px #000;
}

section{
    margin-bottom: 4%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}